.saves
.Rhistory
*~
recupred.aux
recupred.bbl
recupred.blg
recupred.log
recupred.out
recupred.pdf
recupred.spl
*.synctex.gz
recupred-title.aux
recupred-title.log
recupred-title.out
recupred-title.pdf
sn-article-template
nca_letter.txt
